@font-face {
	font-family: 'Astro Space';
	src: url('./Assets/AstroSpace-eZ2Bg.ttf') format('TrueType');
}
* {
	box-sizing: border-box;
}

body {
	--color1: #f2ebe5;
	--color2: #647295;
	--color3: #9f496e;
	--color4: #2b262d;
}
h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
